@keyframes megaMenuIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes megaMenuOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.animate-mega-in {
  animation: megaMenuIn 450ms ease-out forwards;
}

.animate-mega-out {
  animation: megaMenuOut 200ms ease-in forwards;
  pointer-events: none;
}

/* backdrop */
.backdrop {
  background-color: rgba(0, 0, 0, 0.315);
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 300ms ease;
  z-index: 40;
  pointer-events: none;
}

.backdrop.show {
  opacity: 1;
  pointer-events: auto;
}
