.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 75%;
  height: 60%;
  padding-bottom: 70%;
  background-color: #fdf2e9;
  filter: blur(20px);
  z-index: 1;
}

.step-img-box::after {
  width: 65%;
  padding-bottom: 70%;
  background-color: #fae5d3;
  filter: blur(20px);
  z-index: 2;
} 

@media (max-width: 768px) {
  .step-img-box::before,
  .step-img-box::after {
    width: 50%;
    height: 65%;
    padding-bottom: 30%;
    z-index: -1;
  }
}