<section class="w-full py-16 bg-cream mt-20">
    <div class="layout-container-lg flex flex-col md:flex-row items-center justify-between bg-circle">
        <div class="md:max-w-lg w-full h-105 overflow-hidden rounded-ss-full rounded-se-full">
            <video autoplay muted loop playsinline class=" h-full w-full object-cover">
                <source src="/videos/filler2.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </div>
        <!-- Text -->
        <div class="md:w-1/2 w-full">
            <h2 class="text-4xl md:text-5xl font-serif text-brown-700 leading-tight">
                Lip Volume &<br />
                Definition
            </h2>

            <p class="mt-6 text-lg text-brown-600 tracking-wide">
                Subtle, natural-looking lip filler treatments to enhance volume, improve symmetry,
                and highlight your natural beauty.
            </p>

            <div class="flex gap-4 pt-4">
                <button appButton variant="secondary">PRICING</button>
                <button appButton variant="tertiary">BOOK NOW</button>
            </div>
        </div>

    </div>
</section>