<app-modal #modal (closeModal)="onCloseModal()">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="w-full max-w-md p-4 sm:p-6 space-y-4">
        <h2 class="text-xl sm:text-2xl font-bold text-center">Login</h2>

        <!-- Email -->
        <app-control label="Email">
            <input type="email" name="email" id="email" required placeholder="you@example.com" ngModel email
                #email="ngModel" autocomplete="email" />
            @if (email.invalid && (email.touched || email.dirty)) {
            <small class="text-red-500 text-sm">
                <span *ngIf="email.errors?.['required']">Email is required</span>
                <span *ngIf="email.errors?.['email']">Please enter a valid email</span>
            </small>
            }
        </app-control>

        <!-- Password -->
        <app-control label="Password">
            <input type="password" name="password" minlength="8" required placeholder="********" ngModel password
                #password="ngModel" autocomplete="current-password" />
            @if (password.invalid && (password.touched || password.dirty)) {
            <small class="text-red-500 text-sm">
                <span *ngIf="password.errors?.['required']">Password is required</span>
                <span *ngIf="password.errors?.['minlength']">Password must be at least 8 characters</span>
            </small>
            }
        </app-control>

        <small class="text-red-500 text-sm py-3" *ngIf="serverError">{{ serverError }}</small>


        <button type="submit" appButton variant="primary" [disabled]="isLoading" class="w-full">
            @if(isLoading){
            <span class="loading loading-spinner loading-sm pe-0.5"></span>
            <span>Loading...</span>
            } @else {
            <span>Login</span>
            }
        </button>
    </form>
</app-modal>