<app-header/>

<!-- Navbar -->
<app-mini-navbar [items]="navItems"/>

<!-- About -->
<app-section-container title="Safe and affordable permanent hair reduction" [paragraphs]="[
    'With the expertise of our qualified technicians, our Medical Grade Candela GentleLASE and GentleYAG series, and Cutera Lasers – your silky smooth skin awaits.',
    'Getting to know you means diving into your skin concerns with a complimentary consultation. Catering for any skin type or gender; it’s everyday convenience, your way.',
  ]" image="/images/laser_1-768x512.webp" id="about">
</app-section-container>

<!-- Benefits -->
<app-benefits [benefits]="benefits" title="Laser Hair Removal Benefits"/>

<!-- How It Works -->
<app-section-container title="How it works" [paragraphs]="[
    'We make hair removal look easy, but how does it all go down?',
    'Laser Hair Removal targets darker pigments of your hair follicles, causing the hair to fall out – with each treatment, the follicle itself becomes more impaired.',
    'No hair, no razor, no worries.'
  ]" image="/images/laser_3.webp" id="how-it-works">
</app-section-container>

<!-- Pricing -->
<app-pricing [options]="options"/>

@if (selectedOption) {
  <app-review [serviceOptionId]="selectedOption._id"/>
}
<app-faqs [faqs]="faqs"/>