<section class="py-20 layout-container">
    <h5 class="text-center pb-10 text-3xl lg:text-5xl font-semibold">Our Results Will Inspire You</h5>
    <h6 class="text-center pb-10 text-xl lg:text-2xl font-semibold">FEATURED CASES</h6>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">

        <figure class="diff aspect-[4/5] w-full" tabindex="0">
            <div class="diff-item-1" role="img" tabindex="0">
            <img alt="daisy" src="/images/libbefore.jpeg" />
        </div>
        <div class="diff-item-2" role="img">
            <img alt="daisy" src="/images/libeafter.jpeg" />
        </div>
        <div class="diff-resizer"></div>
    </figure>
    <figure class="diff aspect-[4/5] w-full" tabindex="0">
        <div class="diff-item-1" role="img" tabindex="0">
            <img alt="daisy" src="/images/hairbefore.jpeg" />
        </div>
        <div class="diff-item-2" role="img">
            <img alt="daisy" src="/images/hairafter.jpeg" />
        </div>
        <div class="diff-resizer"></div>
    </figure>
    <figure class="diff aspect-[4/5] w-full" tabindex="0">
        <div class="diff-item-1" role="img" tabindex="0">
            <img alt="daisy" src="/images/glowbefore.jpeg" />
        </div>
        <div class="diff-item-2" role="img">
            <img alt="daisy" src="/images/glowafter.jpeg" />
        </div>
        <div class="diff-resizer"></div>
    </figure>
    <figure class="diff aspect-[4/5] w-full" tabindex="0">
        <div class="diff-item-1" role="img" tabindex="0">
            <img alt="daisy" src="/images/facebefore.jpeg" />
        </div>
        <div class="diff-item-2" role="img">
            <img alt="daisy" src="/images/faceafter.jpeg" />
        </div>
        <div class="diff-resizer"></div>
    </figure>
</div>
</section>