<header class="bg-cream mt-20">
  <div
    class="layout-container-lg flex items-center pt-10"
  >
    <div class="max-w-2xl space-y-4 bg-circle">
      <h1 class="text-4xl lg:text-6xl font-semibold tracking-tighter lg:tracking-wider text-dark">
        Laser Hair Removal
      </h1>

      <p class="text-dark leading-relaxed lg:font-medium">
        For hair you don’t want anywhere – it’s up to you. Enjoy results-driven
        permanent hair reduction thanks to our Medical Grade Laser Hair Removal.
      </p>

      <p class="text-dark leading-relaxed lg:font-medium">
        Break up with your razor, and start loving silky smooth skin, ready for
        anything. We use the world’s most efficient hair reduction technology to
        provide you with the best results.
      </p>

      <div class="flex gap-4 justify-center lg:justify-start pb-2 lg:pb-0 lg:pt-4">
        <button appButton variant="secondary">PRICING</button>
        <button appButton variant="tertiary">BOOK NOW</button>
      </div>
    </div>

    <div class="w-xl h-xl hidden lg:block">
      <img
        src="/images/LASER_2.webp"
        alt="Laser Hair Removal"
        class="w-full object-cover h-full"
      />
    </div>
  </div>
</header>
