<section class="bg-white py-20">
  <div class="layout-container flex flex-col lg:flex-row items-center gap-20 px-5 lg:px-0" appSlideup>
    
    <div class="lg:w-1/2 space-y-6">
      <h2 class="text-4xl font-bold text-dark">The HERA CLINIC Difference</h2>
      <p class="text-gray-700 text-lg">
        Conveniently located in Cairo, HERA CLINIC combines expert care with advanced technology to deliver visible, lasting results. Our team of experienced medical estheticians and laser technicians is dedicated to helping you achieve your beauty goals through treatments tailored just for you.
      </p>
      <p class="text-gray-700 text-lg">
        Every service is customized to meet your unique skin and hair removal needs, guided by professionals who stay up to date with the latest skincare and laser techniques. You’ll be welcomed into a calm and inviting environment where relaxation is part of the experience, allowing you to unwind while your skin is rejuvenated.
      </p>
      <p class="text-gray-700 text-lg mb-6">
        Above all, our approach is results-driven. Whether you’re seeking a smoothing laser treatment or a revitalizing skin therapy, our focus is on delivering outcomes that leave you looking and feeling radiant.
      </p>
      <a routerLink="about" appButton variant="fourthy">About Us</a>
    </div>

    <div class="lg:w-1/2 h-1/2 overflow-hidden ">
      <img ngSrc="/images/doctors.jpg" alt="HERA Clinic" class="w-full aspect-square object-cover shadow-lg" width="500" height="500" loading="lazy"/>
    </div>

  </div>
</section>
