<section class="flex flex-col items-center lg:flex-row justify-evenly py-20" id="about">
    <div class="w-full p-4 lg:w-1/2 flex items-center justify-center lg:justify-start min-h-fit lg:min-h-0">
        <div class="space-y-8 lg:max-w-4xl text-center lg:text-start">
            <h2 class="text-3xl lg:text-4xl font-semibold lg:tracking-wider text-dark">
                Your skin’s hydration
            </h2>
            <p class="text-dark font-medium tracking-wide">
                Hydration of the skin is a common concern and can become more apparent as we age, and fine lines appear
                and tissue elasticity reduces.',
                'If hydration is a priority for you, we recommend booking a consultation with a SILK Aesthetic Nurse.
                During your consultation, a full facial assessment will take place and you will have the opportunity to
                ask questions and discuss your cosmetic goals. Your nurse will then be able to provide you with
                personalised treatment options.
            </p>

            <p class="text-dark font-medium tracking-wide">
                If hydration is a priority for you, we recommend booking a consultation with a SILK Aesthetic Nurse.
                During your consultation, a full facial assessment will take place and you will have the opportunity to
                ask questions and discuss your cosmetic goals. Your nurse will then be able to provide you with
                personalised treatment options.
            </p>

            <button appButton variant="fourthy">
                Book a Consultation
            </button>
        </div>
    </div>

    <div class="w-80 h-80 md:w-120 md:h-120 overflow-hidden rounded-full">
        <video src="/videos/skin.mp4" alt="lib-filer" class="w-full h-full object-cover" autoplay muted loop></video>
    </div>
</section>