<section class="section-featured">
  <div class="logos-track">
    <div class="logos">
      <img loading="lazy" src="/images/logos/techcrunch.png" alt="techcrunch" class="logo green">
      <img loading="lazy" src="/images/logos/business-insider.png" alt="business-insider">
      <img loading="lazy" src="/images/logos/the-new-york-times.png" alt="the-new-york-times" class="logo red">
      <img loading="lazy" src="/images/logos/forbes.png" alt="forbes">
      <img loading="lazy" src="/images/logos/usa-today.png" alt="usa-today">
    </div>

    <div class="logos">
      <img loading="lazy" src="/images/logos/techcrunch.png" alt="techcrunch" class="logo green">
      <img loading="lazy" src="/images/logos/business-insider.png" alt="business-insider">
      <img loading="lazy" src="/images/logos/the-new-york-times.png" alt="the-new-york-times" class="logo red">
      <img loading="lazy" src="/images/logos/forbes.png" alt="forbes">
      <img loading="lazy" src="/images/logos/usa-today.png" alt="usa-today">
    </div>
  </div>
</section>