<section class="section-featured">
  <div class="logos-track">
    <div class="logos">
      <img src="/images/logos/techcrunch.png" alt=""  class="logo green">
      <img src="/images/logos/business-insider.png" alt="">
      <img src="/images/logos/the-new-york-times.png" alt="" class="logo red">
      <img src="/images/logos/forbes.png" alt="">
      <img src="/images/logos/usa-today.png" alt="">
    </div>

    <div class="logos">
      <img src="/images/logos/techcrunch.png" alt="" class="logo green">
      <img src="/images/logos/business-insider.png" alt="">
      <img src="/images/logos/the-new-york-times.png" alt="" class="logo red">
      <img src="/images/logos/forbes.png" alt="">
      <img src="/images/logos/usa-today.png" alt="">
    </div>
  </div>
</section>
