<section class="py-12 lg:py-16 pattern bg-dark/90 relative overflow-hidden" id="review">
    <div class="lg:w-1/2 space-y-6 layout-container relative z-10">
        <div class="flex flex-col lg:flex-row justify-between items-center">
            <p class="text-3xl md:text-4xl font-semibold capitalize text-white pb-2 md:pb-0">
                review our service
            </p>
            <app-ratings />
        </div>

        <textarea name="review" rows="4" placeholder="Write your review..."
            class="textarea textarea-bordered w-full bg-dark text-white text-2xl rounded-2xl px-6 py-4"></textarea>

        <div class="flex justify-center lg:justify-end">
            <button appButton variant="secondary">
                Submit review
            </button>
        </div>
    </div>
</section>