.control input,
.control textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #cccccc9c;
  outline: none;
}

.control input:focus,
.control textarea:focus {
  border-color: black;
}

.control input:disabled {
  background-color: #f3f4f6;
  color: #9ca3af;
  cursor: not-allowed;
}

.control input:disabled + label,
.control input:disabled {
  opacity: 0.7;
}
