<section class="bg-cream text-dark py-20" id="benefits" appSlideup>
    <h2 class="text-4xl font-semibold tracking-wide text-center">{{ title }}</h2>
    <div class="layout-container-lg grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-12 px-4">
        @for(benefit of benefits; track benefit.title){
            <div>
                <div class="flex gap-4">
                    <img [ngSrc]="benefit.img" [alt]="benefit.title" class="h-18 w-18" loading="lazy"  width="400"
    height="600"/>
                    <div class="flex flex-col gap-2">
                        <h3 class="text-xl font-semibold">{{ benefit.title }}</h3>
                        <p class="benefit-description">{{ benefit.description }}</p>
                    </div>
                </div>
            </div>
        }
    </div>
</section>