<nav class="fixed top-0 left-0 right-0 z-50 navbar bg-cream/60" [class.scrolled]="isScrolled">
    <div class="flex items-center h-16 px-4 lg:px-24 container mx-auto">
        <!-- Logo -->
        <a routerLink="/">
            <img src="/images/logo.png" alt="logo" class="w-16 h-16 object-contain" />
        </a>

        <!-- Desktop Links -->
        <ul class="hidden md:flex flex-1 justify-center gap-6">
            @for (link of navLinks; track link.label) {
            <li>
                @if (link.type === 'link') {
                <a [routerLink]="link.route" routerLinkActive="font-bold" [routerLinkActiveOptions]="{ exact: true }"
                    (click)="isServicesOpen = false" class="text-dark hover:text-gray-800">
                    {{ link.label }}
                </a>
                }

                @if (link.type === 'services') {
                <a class="text-dark relative hover:text-gray-800 cursor-pointer" (click)="toggleServices($event)">
                    {{ link.label }}
                </a>
                }
            </li>
            }
        </ul>

        <!-- Services dropdown -->
        <app-service-menu [isOpen]="isServicesOpen" (close)="isServicesOpen = false"></app-service-menu>

        <!-- Desktop Auth -->
        <div class="hidden md:flex gap-4">
            <p *ngIf="!auth.isLoggedIn" class="text-dark cursor-pointer hover:text-gray-800" (click)="openLoginModal()">
                Login
            </p>
            <p *ngIf="!auth.isLoggedIn" class="text-dark cursor-pointer hover:text-gray-800"
                (click)="openSignupModal()">
                Signup
            </p>
            <p *ngIf="auth.isLoggedIn" class="text-dark cursor-pointer hover:text-gray-800"
                (click)="openLogoutConfirm()">
                Logout
            </p>
            <a routerLink="/account" class="text-dark cursor-pointer hover:text-gray-800" *ngIf="auth.isLoggedIn">
                Account
            </a>
            <app-confirm-modal [isOpen]="showLogoutConfirm" title="Logout" message="Are you sure you want to logout?"
                (confirm)="confirmLogout()" (cancel)="cancelLogout()">
            </app-confirm-modal>
        </div>

        <!-- Mobile Button -->
        <button class="ml-auto md:hidden text-dark text-2xl" (click)="toggleMenu()">
            ☰
        </button>
    </div>
</nav>

<!-- ================= MOBILE MENU  ================= -->

@if (isMenuOpen) {
<div class="md:hidden fixed top-16 left-0 right-0 z-40
           bg-cream/60 backdrop-blur-md px-6 py-6">
    <ul class="flex flex-col items-center gap-4">
        @for (link of navLinks; track link.label) {
        <li>
            @if (link.type === 'link') {
            <a [routerLink]="link.route" routerLinkActive="font-bold" [routerLinkActiveOptions]="{ exact: true }"
                (click)="isServicesOpen = false" class="text-dark hover:text-gray-800" (click)="toggleMenu()">
                {{ link.label }}
            </a>
            }

            @if (link.type === 'services') {
            <a class="text-dark relative hover:text-gray-800 cursor-pointer" (click)="toggleMenu()"
                (click)="toggleServices($event)">
                {{ link.label }}
            </a>
            }
        </li>
        }
    </ul>

    <div class="flex flex-col items-center gap-6 mt-6 border-t border-gray-500/30 pt-4">
        <p *ngIf="!auth.isLoggedIn" class="text-dark cursor-pointer hover:text-gray-800" (click)="openLoginModal()">
            Login
        </p>
        <p *ngIf="!auth.isLoggedIn" class="text-dark cursor-pointer hover:text-gray-800" (click)="openSignupModal()">
            Signup
        </p>
        <p *ngIf="auth.isLoggedIn" class="text-dark cursor-pointer hover:text-gray-800" (click)="openLogoutConfirm()">
            Logout
        </p>
        <a routerLink="/account" class="text-dark cursor-pointer hover:text-gray-800" *ngIf="auth.isLoggedIn">
            Account
        </a>
        <app-confirm-modal [isOpen]="showLogoutConfirm" title="Logout" message="Are you sure you want to logout?"
            (confirm)="confirmLogout()" (cancel)="cancelLogout()">
        </app-confirm-modal>
    </div>
</div>
}