<section class="bg-white p-6 space-y-6">
    <h2 class="text-xl font-semibold text-dark">Profile Information</h2>

    <section class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <app-control label="Full Name">
            <input type="text" placeholder={{user?.name}} />
        </app-control>

        <app-control label="Email">
            <input type="email" placeholder={{user?.email}} disabled />
        </app-control>

        <app-control label="Username">
            <input type="text" [placeholder]="user?.username || 'username...'" disabled />
        </app-control>

        <app-control label="Phone">
            <input type="text" placeholder={{user?.phone}} />
        </app-control>
    </section>

    <div class="pt-4">
        <button appButton variant="secondary">
            Save Changes
        </button>
    </div>
</section>