<section class="laser-section bg-circle">

  <p class="section-title">Why Choose Our Laser Machine?</p>

  <!-- LEFT FEATURES -->
  <div class="features left">
    <div class="feature-text left">
      <p class="feature-title">Advanced Cooling System</p>
      <p class="feature-desc">
        Equipped with an intelligent cooling technology that minimizes discomfort
        and protects the skin.
      </p>
    </div>

    <div class="feature-text left">
      <p class="feature-title">High Laser Power</p>
      <p class="feature-desc">
        Delivers powerful and consistent energy output for faster sessions
        and better results.
      </p>
    </div>
  </div>

  <!-- MACHINE -->
  <div class="machine">
    <img src="/images/laser.png" alt="Laser Machine" class="z-40">
  </div>

  <!-- RIGHT FEATURES -->
  <div class="features right">
    <div class="feature-text right">
      <p class="feature-title pt-6 md:pt-0">Suitable for All Skin Types</p>
      <p class="feature-desc">
        Designed to work safely and effectively on different skin tones.
      </p>
    </div>

    <div class="feature-text right">
      <p class="feature-title">Large Treatment Area</p>
      <p class="feature-desc">
        Covers larger areas to reduce treatment time and improve efficiency.
      </p>
    </div>
  </div>

</section>
