<section class="w-full py-16 bg-cream mt-20">
    <div class="layout-container-lg flex flex-col md:flex-row items-center justify-around bg-circle">
        <!-- Text -->
        <div class="md:w-1/2 w-full">
            <h2
                class="text-3xl md:text-5xl font-serif text-brown-700 leading-tight pt-4 md:pt-0 text-center md:text-left">
                Healthy Hair &<br />
                Scalp Care
            </h2>

            <p class="mt-6 text-lg text-brown-600 tracking-wide text-center md:text-left">
                Nourishing hair treatments designed to repair damage, strengthen strands,
                improve scalp health, and restore natural shine for healthier, more vibrant hair.
            </p>

            <div class="flex justify-center md:justify-start gap-4 pt-4">
                <button appButton variant="secondary" (click)="scrollToPricing()">PRICING</button>
                <button appButton variant="tertiary" (click)="scrollToPricing()">BOOK NOW</button>
            </div>
        </div>

        <div class="md:max-w-lg w-full h-105 overflow-hidden rounded-ss-full rounded-se-full mt-6 md:mt-0">
            <video autoplay muted loop playsinline class=" h-full w-full object-cover">
                <source src="/videos/hair.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </div>

    </div>
</section>