<section  class="flex justify-end">
    <div class="w-1/2 flex  items-center">
        <div class="space-y-8 max-w-4xl m-auto">
            <h2 class="text-4xl font-semibold tracking-wider text-dark">
                Cosmetic Aesthetics tailored to you.
            </h2>

            <p class="text-dark font-medium tracking-wide">
                Whether it’s through age or genetics lip shapes can change and vary. If your cosmetic goals are to
                define,
                shape, volumise or provide definition to your lips we recommend
            </p>

            <p class="text-dark font-medium tracking-wide">
                booking a consultation with one of our fully qualified and registered Aesthetic Nurses at SILK Laser
                Clinics.
            </p>

            <button appButton variant="fourthy">
                Book a Consultation
            </button>
        </div>
    </div>

    <div class="w-3xl h-auto overflow-hidden">
        <img src="/images/fillerss.jpg" alt="lib-filer" class="w-full h-full object-cover" />
    </div>
</section>