<form class="bg-white p-6 space-y-6 w-full" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <h2 class="text-xl font-semibold text-dark">Change Password</h2>

    <div class="space-y-4">
        <app-control label="Current Password">
            <input type="password" [placeholder]="'Enter current password'" name="currentPassword"
                [(ngModel)]="currentPassword" autocomplete="current-password" />
            @if(form.submitted && !currentPassword) {
            <small class="text-red-500 text-sm">
                Current password is required
            </small>
            }
        </app-control>

        <app-control label="New Password">
            <input type="password" [placeholder]="'Enter new password'" name="newPassword" [(ngModel)]="newPassword"
                autocomplete="new-password" />
            @if(form.submitted && !newPassword) {
            <small class="text-red-500 text-sm">
                New password is required
            </small>
            }
        </app-control>
    </div>

    <button appButton variant="secondary">
        @if(isLoading){
        <span class="loading loading-spinner loading-sm pe-0.5"></span>
        <span>Loading...</span>
        } @else {
        Update Password
        }
    </button>
</form>