<section class="bg-white p-6 space-y-6 w-full">
    <h2 class="text-xl font-semibold text-dark">Change Password</h2>

    <div class="space-y-4">
        <input type="password" class="input w-full" placeholder="Current Password" />
        <input type="password" class="input w-full" placeholder="New Password" />
        <input type="password" class="input w-full" placeholder="Confirm New Password" />
    </div>

    <button appButton variant="secondary">
        Update Password
    </button>
</section>