<aside class="bg-white p-5 space-y-3 h-fit">
  <button class="w-full text-left font-medium pl-3 py-2 cursor-pointer" routerLinkActive="text-dark border-l-4 border-orange-500"
     routerLink="info">
    Profile Info
  </button>

  <button class="w-full text-left font-medium pl-4 py-2 cursor-pointer" routerLink="bookings"
    routerLinkActive="text-dark border-l-4 border-orange-500">
    My Bookings
  </button>

  <button class="w-full text-left font-medium pl-4 py-2 cursor-pointer" routerLinkActive="text-dark border-l-4 border-orange-500"
    routerLink="password">
    Change Password
  </button>
</aside>