<section class="bg-cream py-24" id="pricing">
    <p class="text-3xl font-semibold pb-10 text-center">Pricing</p>

    <div class="layout-container-lg grid grid-cols-1 md:grid-cols-2 gap-6">

        @for (option of options; track option._id) {
        <div class="bg-white p-6 shadow-xs flex justify-between gap-6 relative">

            <!-- LEFT CONTENT -->
            <div class="flex flex-col justify-between max-w-[60%]">
                <div>
                    <h3 class="text-lg font-semibold mb-2">
                        {{ option.optionName }}
                    </h3>

                    <p class="text-sm text-gray-600 mb-4">
                        {{ option.notes }}
                    </p>
                </div>

                <div>
                    <p class="text-xl font-semibold">
                        ${{ option.price }}
                    </p>
                </div>
            </div>

            <!-- RIGHT IMAGE -->
            <div class="relative w-35 h-35">
                <img src="/images/laser-placeholder.jpg" alt="Laser Service"
                    class="w-full h-full object-cover rounded-xl" />

                <!-- SELECT BUTTON -->
                <button (click)="toggleService(option)" class="absolute -top-3 -right-3 w-9 h-9 text-lg font-bold
                   flex items-center justify-center transition-colors cursor-pointer" [ngClass]="{
              'bg-white text-brown border-brown hover:bg-brown hover:text-brown-300':
                !isSelected(option),

              'bg-brown text-brown border-brown':
                isSelected(option)
            }">
                    {{ isSelected(option) ? '✓' : '+' }}
                </button>
            </div>

        </div>
        }

    </div>

    <!-- BOOK BUTTON -->
    <div class="text-center mt-10" *ngIf="selectedServices.length">
        <button appButton variant="secondary" (click)="openBookingModal()">
            Book {{ selectedServices.length }} Service(s)
        </button>
    </div>

    <!-- Booking Modal -->
    <app-booking #bookingModal></app-booking>
</section>