<nav class="uppercase text-sm font-medium text-dark py-4 border-b border-gray-200">
  <ul class="flex space-x-8 layout-container-lg cursor-pointer">
    <li>
      <a (click)="scrollToSection('about', $event)">about</a>
    </li>
    <li>
      <a (click)="scrollToSection('benefits', $event)">benefits</a>
    </li>
    <li>
      <a (click)="scrollToSection('how-it-works', $event)">how it works</a>
    </li>
    <li>
      <a (click)="scrollToSection('pricing', $event)">pricing</a>
    </li>
    <li>
      <a (click)="scrollToSection('review', $event)">Review</a>
    </li>
    <li>
      <a (click)="scrollToSection('faqs', $event)">faqs</a>
    </li>
  </ul>
</nav>