/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";

/* Custom Colors */
@theme {
  --color-dark: #181818;
  --color-cream: #faf9f7;
  --color-pink-light: #f3dfe3;
  --color-pink-dark: #831843;
  --color-light-gray: #F0F0F0;
}

html {
  scroll-behavior: smooth;
}

.layout-container {
  @apply mx-auto px-6 max-w-[1200px];
}

.layout-container-lg {
  @apply mx-auto px-6 max-w-[1376px];
}

:root {
  --mint: #ECF4E8;
  --pink-light: #f3dfe3;
  --cream: #faf9f7;
  --dark: #181818;
  --light-gray: #F0F0F0;
}


::selection {
  background-color: rgba(243, 181, 124, 0.507);
  color: #82430c;
}

dialog {
  min-width: 30rem;
  padding: 0;
  margin: auto;
  z-index: 2;
  border-radius: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  animation: slide-down-fade-in 0.3s ease-out forwards;
  padding: 2rem;
  background: var(--cream);
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

@keyframes slide-down-fade-in {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.bg-circle::before,
.bg-circle::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(
    to left,
    rgba(243, 109, 13, 0.908) 60%,
    rgba(246, 110, 26, 0.6) 60%,
    rgba(247, 114, 19, 0.966) 60%,
    rgba(243, 142, 40, 0.781) 60%
  );
  filter: blur(95px);
  z-index: 1;
}

.bg-circle::before {
  top: 58%;
  left: 33%;
}

.bg-circle::after {
  bottom: 62%;
  right: 1%;
}