<app-header />

<!-- Navbar -->
<app-mini-navbar [items]="navItems"/>

<app-intro />

<!-- <app-beneifts /> -->
<app-benefits [benefits]="benefits" title="Benefits of Cosmetic Aesthetics" id="benefits"/>

<!-- How It Works -->
<app-section-container id="how-it-works" title="How it Works" 
[paragraphs]="['Through genetics we all naturally have different lip shapes and sizes. Lips can also change in shape as we age, impacting volume and definition.',
    'Our experienced cosmetic aesthetics team will conduct an in-depth consultation. Your SILK Aesthetic Nurse will provide you with personalised recommendations toward achieving your desired lip shape, volume and definition. '
]" image="/images/how-filler-work.jpg" />

<app-pricing [options]="options"/>

<app-review />

<!-- FAQs -->
<app-faqs [faqs]="fillerFaqs" />