.delivered-meals {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 3.8rem;
  width: 3.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}