<section class="bg-cream pt-20">
  <div class=" grid grid-cols-2 layout-container-lg items-center gap-24 py-12">
    <div class="flex flex-wrap gap-2">

      <div class="shrink h-[310px] overflow-hidden">
        <img src="/images/inject.jpg" class="w-full h-full object-cover hover:scale-120 duration-500 ease-in-out" />
      </div>

      <div class="grow h-[310px] overflow-hidden">
        <img src="/images/clinic.jpg" class="w-full h-full object-cover hover:scale-120 duration-500 ease-in-out" />
      </div>

      <div class="grow h-[310px] overflow-hidden">
        <img src="/images/candel.jpg" class="w-full h-full object-cover hover:scale-120 duration-500 ease-in-out" />
      </div>
      
      <div class="shrink h-[310px] overflow-hidden">
        <img src="/images/laser.jpg" class="w-full h-full object-cover hover:scale-120 duration-500 ease-in-out" />
      </div>    
    </div>
    
    <div class="space-y-4">
      <h1 class="text-5xl font-semibold uppercase font-serif tracking-wide leading-6.7">{{'welcome in hera clinic' | letter:100 | async}}</h1>
      <p class="py-6 text-2xl font-light mb-12">
        Your first step toward self-acceptance, care, and confidence
      </p>
      <button appButton variant="tertiary">
        Book an appointment
      </button>
      <div class="flex items-center gap-4 pt-8">
        <div class="avatar-group -space-x-6 bg-circle">
          <div class="avatar">
            <div class="w-12">
              <img src="https://img.daisyui.com/images/profile/demo/batperson@192.webp" />
            </div>
          </div>
          <div class="avatar">
            <div class="w-12">
              <img src="https://img.daisyui.com/images/profile/demo/spiderperson@192.webp" />
            </div>
          </div>
          <div class="avatar">
            <div class="w-12">
              <img src="https://img.daisyui.com/images/profile/demo/averagebulk@192.webp" />
            </div>
          </div>
          <div class="avatar">
            <div class="w-12">
              <img src="https://img.daisyui.com/images/profile/demo/wonderperson@192.webp" />
            </div>
          </div>
        </div>

        <p class="text-sm text-gray-700">
          Trusted by <span class="font-semibold">1,200+</span> patients
        </p>
      </div>
    </div>
  </div>

</section>